@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap')
@import @assets/styles/vars

*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: border-box

a
  text-decoration: none
  display: inline-block
  color: inherit

ul
  list-style: none

img
  max-width: 100%
  display: block

svg
  display: block

.container
  max-width: 930px
  padding: 0 15px
  margin: 0 auto

body
  font-family: 'Poppins', sans-serif
  font-size: 16px
  font-weight: 400
  line-height: 1.3
  color: $primary
  background-color: $third

h1
  font-size: 36px
  
h2
  font-size: 28px

h3
  font-size: 26px

button, input, textarea
  font-family: inherit
  font-size: inherit
  color: inherit

button
  cursor: pointer

.btn
  background-color: $secondary
  border: 2px solid $secondary
  color: $four
  padding: 6px 10px
  border-radius: 8px
  transition: .3s
  &:hover
    border: 2px solid $secondary
    color: $secondary
    background-color: $four
  &-secondary
    border: 2px solid $secondary
    color: $secondary
    background-color: $four
    &:hover
      background-color: $secondary
      border: 2px solid $secondary
      color: $four
  &:disabled
    cursor: not-allowed
    color: $third
    background-color: $five
    border: 2px solid $five

input
  border: 2px solid $secondary
  border-radius: 8px
  padding: 0 8px
  min-height: 46px
  color: $secondary
  outline-color: $secondary
  &::placeholder
    color: $five

.input__file
  position: absolute
  inset: 0
  opacity: 0
  cursor: pointer
  &-label
    position: relative
    min-height: 250px
    border-radius: 10px
    border: 2px dashed $secondary
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    text-align: center
    user-select: none
    transition: background-color .3s
    &.enter
      background-color: rgba($secondary, .2)
  &-image
    width: 55px
    margin: 0 0 10px
  &-span
    border-bottom: 2px solid $primary

@media (max-width: 480px)
  h1
    font-size: 30px

  h2
    font-size: 24px

  h3
    font-size: 22px

  .btn
    font-size: 14px